<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for([:logged, @user], html: { class: "form-horizontal" }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :email %>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to 'Back', logged_tweets_path, class: "btn btn-default" %>
      </div>

    <% end %>
  </div>
</div>
