<h1>Followers</h1>

<div class="row">
  <div class="col-xs-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @followers.each do |follower| %>
          <tr>
            <td><%= follower.name %></td>
            <td><%= follower.email %></td>
            <td><% if current_user.following_ids.include?(follower.id) %>
                <div class="btn btn-primary following" data-user-id=<%= follower.id %>>Following</div>
              <% else %>
                <div class="btn btn-default follow" data-user-id=<%= follower.id %>>Follow</div>
              <% end -%>
            </td>
            <td><%= link_to "Show", logged_user_path(follower), class: "btn btn-primary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @followers %>
  </div>
</div>